# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
doc/

# ========================
# IDE
# ========================
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
*.factorypath
.vscode/

# ========================
# 日志文件
# ========================
logs/
*.log

# ========================
# 操作系统
# ========================
.DS_Store
Thumbs.db

# ========================
# 临时文件
# ========================
*.tmp
*.bak
*.swp
*~.nib

# ========================
# 编译文件
# ========================
*.class
*.jar
*.war
*.ear
*.nar
